* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b10136;
    padding: 0 4%;
    z-index: 999;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 70px;
}

.carrinho {
    cursor: pointer;
    width: 35px;
}

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: #f8f5f5;
    box-shadow: -2px 0 4px #00000085;
    transition: 0.3s;
    height: 100%;
    max-height: 700px;
    overflow-y: auto;
    z-index: 990;
}

.cart.active{
    right: 0;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #b10136;
}

.cart-content.scrollable {
    overflow-y: auto;
    position: relative;
    max-height: 630px; /* Defina o máximo de altura que você deseja */
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-image{
    width: 120px;
    height: 150px;
    object-fit: contain;
    padding: 10px;
}

.detalhe-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-produto-title{
    font-size: 1.2rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 600;
}

.cart-quantidade{
    border: 1px solid #00000050;
    outline: #00000093;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remover{
    width: 20px;
    cursor: pointer;
    transition: transform 0.5s;
}

.cart-remover:hover{
    transform: scale(1.1);
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 2px solid #00000081;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
}

.total-price{
    margin-left: 0.5rem;
}

.btn-finalize{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #b10136;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-finalize:hover{
    background-color: #8b022b;
}

#close-cart{
    position:absolute;
    top:1rem;
    right: 0.8rem;
    width: 1.5rem;
    cursor: pointer;
}

/*-----FIM DA ESTILIZAÇÃO DO HEADER-----*/


.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

#contactForm input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contactForm button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #b10136;
    color: white;
    cursor: pointer;
}

#contactForm button:hover {
    background-color: #8b022b;
}


/*-----FIM DA ESTILIZAÇÃO DA DIV MODAL*/



.titulo {
    padding-top: 90px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.buttons button{
    margin-top: 5px;
    cursor: pointer;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #b10136;
}

.buttons button:hover {
    background-color: #b10136;
}

.buttons button.active {
    background-color: #b10136;
}

/*-----FIM DA ESTILIZAÇÃO DA DIV TITULO-----*/

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    padding: 0 4%;
    margin-top: 60px;
}

.col-1{
    border-radius: 7px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-basis: 50%;
    max-width: 270px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto-img {
    border-radius: 7px;
    width: 100%;
    height: auto;
}

.produto-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

.produto-subtitulo {
    color: #747171;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    width: 100%;
    height: 3.3rem;
    text-align: center;
}

.produto-preco {
    text-align: center;
    font-size: 16px;
    color: #e74c3c;
    margin-bottom: 10px;
}

.btn-adicionar {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #b10136;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.5s;
}

.btn-adicionar:hover {
    background-color: #8b022b;
    transform: scale(1.1);
}

#carregarMais {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#carregarMais:hover {
    background-color: #2980b9;
}

/*-----FIM DA ESTILIZAÇÃO DA DIV LINHA-----*/

.contatos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: Center;
    align-items: center;
    padding: 40px 0;
    background-color: #000;
}

.contatos h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contatos-secao {
    width: 650px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    text-align: center;
    row-gap: 10px;
}

.contatos-secao a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
}


.cor h3 {
    color: #fff;
}

.contatos-secao .cor-contato a:hover {
    color: #b10136;
}

/*--------FIM DA SECTION CONTATOS-------*/



@media (max-width: 645px){

    .titulo{
        text-align: center;
        margin: 50px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-1{
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        flex-basis: 100%;
        max-width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contatos-secao {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.2rem;
    }

}

@media (max-width: 370px){
    .cart{
        position: fixed;
        top: 0;
        right: -100%;
        max-width: 360px;
        width: 100%;
        min-height: 100vh;
        padding: 20px;
        background-color: #f8f5f5;
        box-shadow: -2px 0 4px #00000085;
        transition: 0.3s;
    }

    .cart-box{
        display: grid;
        grid-template-columns: 30% 50% 10%;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .cart-image{
        max-width: 100px;
        width: 100%;
        height: 100px;
        object-fit: contain;
        padding: 0 5px 0 0;
    }

    .detalhe-box{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }

    .cart-produto-title{
        font-size: 1rem;
        text-transform: uppercase;
    }
}
